{{ define "header" }}
    <a href="https://www.fathomdata.dev/" style="text-decoration: none;">
      <div class="full-page-banner-image d-flex align-items-center" style="background-image: url('img/exegetic-home-background.svg');">
          <div class="container-fluid p-0">
            <div class="row align-items-center">
              <img class="logo-banner" src="img/exegetic-banner-white.svg">
              <div class="col-lg-12 redirect-banner">
                <div style="text-align: center;">
                  <h1 style="font-size: 3rem">We've rebranded!</h1>
                  <h2 style="font-size: 2rem">Visit our new website at fathomdata.dev!</h2>
                  <img src="https://www.fathomdata.dev/images/logo.svg" style="height: 2rem;">
                </div>
              </div>
            </div>
          </div>
      </div>
    </a>
{{ end }}

{{ define "main" }}
    <section class="py-5 bg-dark text-light">
      <div class="container">
        <h1 class="text-center">Data Science on Demand</h1>
      </div>
    </section>
{{ partial "content-about.html" . }}
{{ partial "content-services.html" . }}
{{ partial "content-contact.html" . }}
{{/* {{ partial "content-tools.html" . }} */}}
{{/* {{ partial "content-clients.html" . }} */}}
{{ partial "site-footer.html" . }}
{{ end }}