body {
	font-family: 'Roboto', sans-serif;
}
code {
	font-family: 'Roboto Mono', monospace;
}

/* BOOTSTRAP ----------------------------------------------------------------------------------- */

.row {
	margin-left: 0;
	margin-right: 0;
}

/* --------------------------------------------------------------------------------------------- */

body > nav > div > a > img {
    height: 30px;
    max-width: 250px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 0px;
    margin-right: 0px;
}

.full-page-banner-image {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.h1, h1 {
	font-size: 4rem;
}
.h2, h2 {
}
h3 {
  font-size: 20px;
  font-weight: bold;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.contact {
}
.contact h2 {
	text-align: left;
}

article > ul, article > ol {
	list-style: inside;
    padding-left: 0;
}

/* ANCHORS ------------------------------------------------------------------------------------- */

footer a {
	color: white;
}

a .card-header {
	color: black;
}
a .card-header i {
	color: green;
}
a .collapsed {
	color: red;
}

/* TRAINING LIST ------------------------------------------------------------------------------- */
  
#testimonial {
	background-color: #8b919699 !important;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

/*.training-feedback {
	text-align: center;
}*/

/*Adjusted in Media Queries*/
.carousel-item {
	text-align: left;
	height: 200px;
}
/*Adjusted in Media Queries*/

.carousel-inner {
	padding-left: 2.5rem!important;
	padding-right: 2.5rem!important;
}

#testimonialCarousel {
	padding-left: 2.5rem!important;
	padding-right: 2.5rem!important;
}

#testimonialCarousel > div > div > div > div > .blockquote {
	font-style: italic;
	font-size: 1rem;
}
#testimonialCarousel > div > div > div > div > p {
	margin-bottom: 0;
	font-size: 1rem;
}

s

.mc-field-group {
	padding-bottom: 0%!important;
}

#mc_embed_signup form {
	padding: 0%!important;
}

#mc_embed_signup .button {
	background-color: #007bff!important;
}

/* TRAINING CONTENT ---------------------------------------------------------------------------- */

#course-content > ul {
	list-style-position: inside;
	padding-left: 0;
}

/* Don't indent setup list. */
#setup > td > ol, #setup > td > ul {
	list-style-position: inside;
	padding-left: 0;
}

/* TRAINING PROPOSAL --------------------------------------------------------------------------- */

.proposal-only {
	display: none;
}

.detail {
	padding-left: 0%;
}

@media print {

	.web-only {
		display: none;
	}

	.proposal-only {
		display: block;
		text-align: justify;
	}

	.proposal-title-page {
		display: block;
		text-align: justify; 
		padding-top: 50%;
		page-break-after: always;
	}

	img, nav, header, footer, a.btn, .boilerplate {
		display: none;
	}

	.section {
		padding-top: 0%;
		padding-bottom: 0%;
	}

	li {
		break-inside: avoid;
		page-break-inside: avoid;
	  }

	body {
		font-size: 20px;
		line-height: 24px;
	}

	@page {
		size: auto;
		margin-top: 1.3cm;
		margin-left: 1.5cm;
		margin-right: 1.5cm;
	}

}

#description {
	width: 100%;
}
#description th, #description td {
	vertical-align: top;
}
#description th {
	padding-right: 15px;
}

/* --------------------------------------------------------------------------------------------- */

#content > section > div > h1 {
	/*font-family: 'Orbitron', sans-serif;*/
	font-weight: 400;
	margin-bottom: 0;
}

/* LISTS --------------------------------------------------------------------------------------- */

/*
ul ul, ol ul, ol ol {
  margin-bottom: 1rem !important;
}
*/

/* SERVICES ------------------------------------------------------------------------------------ */

.MultiCarousel { 
	float: left; 
	overflow: hidden; 
	padding: 15px; 
	width: 100%; 
	position:relative; 
}

.MultiCarousel .MultiCarousel-inner { 
	transition: 1s ease all; 
	float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {  
	text-align: center;
	padding:6%; 
	margin:2%; 
	background:#8B9196;
	box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.MultiCarousel .MultiCarousel-inner .item > div p { 
	text-align: left; 
}


.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
	position:absolute; 
	border-radius:50%;
	top:calc(50% - 20px); 
}

.MultiCarousel .leftLst { 
	left:0; 
	margin-right: 2%;
}

.MultiCarousel .rightLst { 
	right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
	pointer-events: none; 
	background:#ccc; 
}

/* --------------------------------------------------------------------------------------------- */

/* Avoid overlap of last section with footer. */
section:last-of-type {
	margin-bottom: 56px;
}

.column {
  float: left;
  width: 24%;
  padding: 10px;
  margin-left: 1%;
  margin-top: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.subject {
	font-size: 60%;
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.subject .boilerplate {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 4rem 2rem 4rem 2rem;
	background-color: #e9ecef;
}

/*==========  Non-Mobile First  ==========*/

/* *Custom* Super large Screens*/

@media only screen and (max-width : 2560px) {
	#service {
		height: 54vh;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/*Custom* Laptop Large*/
@media only screen and (max-width : 1440px) {
	#service {
		height: 70vh;
	}
}
	
/*Custom* Laptop Large*/
@media only screen and (max-width : 1024px) {
	#service {
		height: 45vh;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px) {
	.carousel-item {
		text-align: left;
		height: 280px;
	}

	.carousel-inner {
		padding-left: 2rem!important;
		padding-right: 2rem!important;
	}
	
	#testimonialCarousel {
		padding-left: 2rem!important;
		padding-right: 2rem!important;
	}
}

/*Custom* Between */
@media only screen and (max-width : 768px) {
	#service {
		height: 60vh;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.carousel-inner {
		padding-left: 1.8rem!important;
		padding-right: 1.8rem!important;
	}
	
	#testimonialCarousel {
		padding-left: 1.8rem!important;
		padding-right: 1.8rem!important;
	}

	#service {
		height: 60vh;
	}
}

/*Custom* Between */
@media only screen and (max-width : 710px) {
	#service {
		height: 65vh;
	}
}

/* Custom Between*/
@media only screen and (max-width : 575px) {

	.carousel-item {
		text-align: left;
		height: 270px;
	}

	#about{
		padding-bottom: 10%;
	}

	#contact{
		padding-top: 0;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.carousel-inner {
		padding-left: 1.6rem!important;
		padding-right: 1.6rem!important;
	}
	
	#testimonialCarousel {
		padding-left: 1.6rem!important;
		padding-right: 1.6rem!important;
	}

	#testimonialCarousel > div > div > div > div > .blockquote {
		font-style: italic;
		font-size: 0.95rem;
	}
	#testimonialCarousel > div > div > div > div > p {
		margin-bottom: 0;
		font-size: 0.95rem;
	}
}

/*Custom* Between */
@media only screen and (max-width : 430px) {
	#service {
		height: 68vh;
	}
}

/*Custom* Between */
@media only screen and (max-width : 414px) {
	#service {
		height: 80vh;
	}
}

/*Custom* Between */
@media only screen and (max-width : 400px) {
	#service {
		height: 73vh;
	}
}

/*Custom* Between */
@media only screen and (max-width : 375px) {
	#service {
		height: 90vh;
	}
}

/*Custom* Between */
@media only screen and (max-width : 370px) {
	#service {
		height: 75vh;
	}
}

/*Custom* Between */
@media only screen and (max-width : 340px) {
	#service {
		height: 78vh;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.carousel-item {
		text-align: left;
		height: 270px;
	}

	.carousel-inner {
		padding-left: 0.7rem!important;
		padding-right: 0.7rem!important;
	}
	
	#testimonialCarousel {
		padding-left: 0.7rem!important;
		padding-right: 0.7rem!important;
	}

	#testimonialCarousel > div > div > div > div > .blockquote {
		font-style: italic;
		font-size: 0.79rem;
	}
	#testimonialCarousel > div > div > div > div > p {
		margin-bottom: 0;
		font-size: 0.79rem;
	}

	#service {
		height: 90vh;
	}
}

/* --------------------------------------------------------------------------------------------- */
/* Custom styles for images in blog posts */
