    {{ with .Site.Params.about }}
    <section class="section" id="about">

      <div class="container">
        <div class="row">
          <div class="col-sm-4 my-auto">
            {{- with .image }}
            <img style="max-width: 80%" src="{{ .path }}" alt="{{ .alt }}">
          {{- end }}
          </div>
          <div class="col-sm-8">
            <h2 class="subheading">What is Exegetic?</h2>

              <p style="text-align: justify;">At Exegetic we recognise that there are many challenges to adopting and maintaining a small and nimble Data Science team. That's why we offer a flexible and economical solution: Data Science on Demand.</p>

              <p>Our Data Science On Demand service has numerous benefits:</p>

              <ul>
              <li> Incrementally develop your Data Science capability
              <li> Only engaged for the duration of your project
              <li> Part-time or full-time
              <li> On premise or remote
              <li> Avoid recruiting and onboarding costs
              <li> Ongoing support
              </ul>

              <p>Get your Data Science project up and running immediately with the help of one of our experienced Data Scientists.</p>

          </div>
        </div>

      </div>
    </section>
    {{ end }}