{{ with .Site.Params.what }}
<section class="section bg-secondary text-light" id="services">
  <div class="container-fluid row">
        <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel"  data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/training.svg">
                          <h4>Training</h4>
                          <hr>
                          <p>The Data Science landscape is complicated and convoluted. Your employees already understand your business and industry. We'll help them augment this knowledge with the fundamental concepts of Data Science, tools and techniques to turn aspiring analysts into competent and productive practitioners.</p>
                          <p>We focus on applied learning, working with real data and solving real problems.</p>
                            <a class="btn btn-primary" href="training" role="button">Read more</a>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/demand-forecasting.svg">
                          <h4>Forecasting</h4>
                          <hr>
                            <p>Making informed predictions for the future can be incredibly powerful!</p>
                            <p>Next quarter's sales, the price of raw materials next month, product demand next week and the number of hits of your website tomorrow... With contemporary and evolving Data Science tools, all of these can be predicted with increasing confidence.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/communication.svg">
                          <h4>Communication</h4>
                          <hr>
                          <p>Data Science results can be complex and nuanced. We communicate our analyses in ways that are meaningful, easy to digest and focused on addressing your problems.</p>
                          <p>If you want to know the nitty-gritty, we'll eviscerate every aspect of the problem and you can scrutinise the details.</p>
                          <p>Or we'll just cut to the chase and tell you the bottom line: concise results in plain English.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/optimisation.svg">
                          <h4>Optimisation</h4>
                          <hr>
                            <p>Optimising your processes will result in improved efficiency, fewer errors, better quality results and higher morale.</p>
                            <p>Almost every aspect of a business is a candidate for optimisation. Improve alignment between supply and demand. Increase profit margins by reducing costs. Deliver efficiently by selecting shortest and quickest delivery routes. Devise effective pricing and promotion strategies that are optimal for every product within any market.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/simulation.svg">
                          <h4>Simulation</h4>
                          <hr>
                            <p>Would you like to experiment with new ideas without the commitment of having to implement them fully first?</p>
                            <p>We can build a simulation which will allow you to conduct such an experiment, tweak parameters and explore options.</p>
                            <p>A simulation will allow you to evaluate those ideas without impacting on current systems and processes.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/automated-reporting.svg">
                          <h4>Automated Reporting</h4>
                          <hr>
                            <p>Generating reports by hand is mundane and error-prone. We build automated reports based on your data, which can be regenerated whenever the data changes or according to a schedule.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/api-and-scraping.svg">
                          <h4>API & Scraping</h4>
                          <hr>
                            <p>Many web sites expose APIs, which allow programmatic access to their data. We build scripts which will acquire these data.</p>
                            <p>Other sites present more of a challenge. We write sophisticated Web Scrapers which will systematically harvest data from both static and dynamic web pages. All of this without breaking any laws or violating terms of service.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                          <img class="icon" src="img/icon/data.svg">
                          <h4>Data</h4>
                          <hr>
                            <p>Big Data? Little Data? Doesn't matter. We're just interested in data.</p>
                            <p>From server logs to service histories, social media to sensors, spreadsheets to big databases. We'll use whatever data you have at your disposal.</p>
                            <p>We have experience with a vast variety of data types and forms. And we've learned that there's usually something interesting and useful to be found in most data.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                            <img class="icon" src="img/icon/analytics.svg">
                            <h4>Analytics</h4>
                            <hr>
                              <p>Accurate and complete information leads to better strategic decisions. We provide analytics which will inform your decision-making process.</p>
                              <p>From basic Descriptive Analysis to advanced Predictive Models, we'll use your data to derive a better understanding of your business and industry. This will give you a strategic and competitive advantage, helping you make informed decisions that reduce costs, drive efficiency and maximise revenue.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                            <img class="icon" src="img/icon/automation.svg">
                            <h4>Automation</h4>
                            <hr>
                              <p>It doesn't make sense for your skilled employees to spend so much time doing mundane, repetitive tasks.</p>
                              <p>We believe in robust automated systems which will quietly and reliably perform these tasks, liberating your employees to concentrate on the dynamic components of your business.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                            <img class="icon" src="img/icon/rapid-prototyping.svg">
                            <h4>Rapid Prototyping</h4>
                            <hr>
                              <p>We achieve rapid time-to-value, assembling a Proof of Concept or draft analysis within days of data exchange.</p>
                              <p>We then iterate quickly, focusing on the most pertinent aspects of the analysis. This allows us to transform experiments and prototypes into robust and reliable data solutions.</p>
                              <p>And you have control over the process every step of the way.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div id="service">
                            <img class="icon" src="img/icon/cloud-solutions.svg">
                            <h4>Cloud</h4>
                            <hr>
                              <p>Maintaining your own hardware is expensive and time consuming.</p>
                              <p>We believe in shifting storage and processing onto the cloud. In doing so you'll reap these benefits:</p>
                              <ul>
                                  <li> flexibility (scales with your needs);
                                  <li> avoid capital and maintenance costs;
                                  <li> automated backup and recovery; and
                                  <li> automated software updates.
                              </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
    </div>

</section>

{{ end }}
