{{ define "main" }}
  <section class="section subject">
    <div class="container">


     <div class="proposal-only proposal-title-page">
        <!-- <img src="/img/proposal.svg" class="row align-items-right"> -->
        <div class="row align-items-center">
            <img style="max-width: 90%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 50%;" src="/img/exegetic-banner-black.svg">
        </div>
        <h1 style="text-align: center;">{{.Title}}</h1>
        <hr style="border: 7% solid #000;">
        <p style="text-align: center; font-size: 1.8em !important; padding-top: 2%;"><i>Training Proposal</i></p>
     </div>


     <h1 class="web-only">{{.Title}}</h1>
     


      <article>
        <div class="proposal-only" style="page-break-after: always;">
          <h2>1. Introduction</h2>
          <p>Exegetic Analytics is a Data Science consultancy specialising in data acquisition and augmentation, data preparation, predictive analytics and machine learning. Our services are used by a range of industries from Education to Security, Food Delivery to Politics. Our consultants are based in Durban and Cape Town and we engage with clients all over the world. Our products and services are used by a multitude of industries including Aerospace, Education, Finance, Food and Transport.</p>
          <p>Exegetic Analytics also offers training, with experienced and knowledgeable facilitators. Our courses focus on practical applications, working through examples and exercises based on real-world datasets.</p>
          <p>All of our training packages include access to:</p>
          <ul>
            <li> our online development environment and
            <li> detailed course material which participants will have continued access to even once the training has concluded.
          </ul>
          <p>For more information about what we do, you can refer to our <a href="https://www.exegetic.biz">website</a>.</p>
          <p> These are some of the companies who have benefitted from our trainning:</p>
          <!-- <img style="max-width: 80%; display: block; margin-left: auto; margin-right: auto; padding-top: 0.5%; page-break-after: always;" src="/img/training-clients.png"> -->
          <ul>
            <li><a href="http://ixperience.co.za/">iXperience</a></li>
            <li><a href="https://www.investec.com/en_za.html">Investec</a></li>
            <li><a href="https://www.vantagedata.co.za/">Vantage Data</a></li>
            <li><a href="https://www.da.org.za/">Democratic Alliance</a></li>
          </ul>
          <p class="proposal-only" >Take a look at our full <a href="/training/">list</a> of courses to see what other training we have on offer.</p>
          <h3><strong>Contact Us</strong></h3>
          <p>If this proposal is of interest to you or you would like to hear more about what we do you can get in touch on <a href="mailto:training@exegetic.biz?subject=Training Enquiry">training@exegetic.biz</a> or +27 (0)73 805 7439.</p>
        </div>

        <div style="page-break-after: always;">
        <h2 class="proposal-only">2. Course Description</h2>
      	{{ if .Params.intro }}
      	<div>
      	{{ .Params.intro | markdownify }}
      	</div>
        {{ end }}
        <h2 class="web-only">Details</h2>
        <h3 class="proposal-only">Details</h3>
        <div class="">
        </div>
        </div>

        <!-- LIST ------------------------------------------------------------------------------------------------- -->

        <dl class="row">
            {{ if .Params.duration }}
            <dt class="col-sm-2">Duration</dt>
            <dd class="col-sm-10">{{ .Params.duration | markdownify }}</dd>
            {{ end }}
            {{ if .Params.why }}
            <dt class="col-sm-2">Why attend?</dt>
            <dd class="col-sm-10">{{ .Params.why | markdownify }}</dd>
            {{ end }}
            {{ if .Params.who }}
            <dt class="col-sm-2">Who should attend?</dt>
            <dd class="col-sm-10">{{ .Params.who | markdownify }}</dd>
            {{ end }}
            {{ if .Params.objectives }}
            <dt class="col-sm-2">Objectives</dt>
            <dd class="col-sm-10">{{ .Params.objectives | markdownify }}</dd>
            {{ end }}
            {{ if .Params.outcomes }}
            <dt class="col-sm-2">Outcomes</dt>
            <dd class="col-sm-10">{{ .Params.outcomes | markdownify }}</dd>
            {{ end }}
            {{ if .Params.requirements }}
            <dt class="col-sm-2">Requirements</dt>
            <dd class="col-sm-10">{{ .Params.requirements | markdownify }}</dd>
            {{ end }}
            {{ if .Params.setup }}
            <dt class="col-sm-2">Setup</dt>
            <dd class="col-sm-10">{{ .Params.setup | markdownify }}</dd>
            {{ end }}
        </dl>

        <!-- ------------------------------------------------------------------------------------------------------ -->

        <div>
        <h2 class="web-only">Description</h2>
      	<h2 class="proposal-only">3. Course Content</h2>
        {{.Content}}
        </div> 



      </article>
      <p><a class="btn btn-primary btn-lg btn-block" href="mailto:training@exegetic.biz?subject=Training Enquiry" role="button" style="margin-bottom: 1%; margin-top: 1%;">Book now!</a></p>
      <div class="boilerplate">
        <h2>Training Philosophy</h2>

        <p>Our training emphasises practical skills. So, although you'll be learning concepts and theory, you'll see how everything is applied in the real world. We will work through examples and exercises based on real datasets.</p>

        <h2>Requirements</h2>

        <p>All you'll need is a computer with a browser and a decent internet connection. We'll be using an online development environment. This means that you can focus on learning and not on solving technical problems.</p>

        <p>Of course, we are happy to help you get your local environment set up too! You can start by following <a href="/blog/r-setup-general/">these instructions</a>.

        <h2>Package</h2>

        The training package includes access to
        <ul>
          <li> our online development environment and</li>
          <li> detailed course material (slides and scripts).</li>
        </ul>

        <!--
          Pricing: https://getbootstrap.com/docs/4.0/examples/pricing/
        -->
      </div>
      <div class="web-only">
      <p>Return to our <a href="/training/">list</a> of courses.</p>
      </div>
    </div>
  </section>
{{ end }}
