{{ define "main" }}
  <section class="section subject">
    <div class="container">


     <div class="proposal-only" style="padding-top: 50%; page-break-after: always;">
        <div class="row align-items-center">
            <img style="max-width: 80%; display: block; margin-left: auto; margin-right: auto;" src="/img/exegetic-banner-black.svg">
        </div>
        <h1 style="text-align: center;">{{.Title}}</h1>
        <hr style="border: 7% solid #000;">
        <h1 style="text-align: center;">Training Proposal</h1>
     </div>


     <h1 class="web-only">{{.Title}}</h1>


      <article>
        <div class="proposal-only">
          <h2> 1. Introduction</h2>
          <p>Exegetic Analytics is a Data Science consultancy specialising in data acquisition and augmentation, data preparation, predictive analytics and machine learning. Our services are used by a range of industries from Education to Security, Food Delivery to Politics. Our consultants are based in Durban and Cape Town and we engage with clients all over the world. Our products and services are used by a multitude of industries including Aerospace, Education, Finance, Food and Transport.</p>
          <p>Exegetic Analytics also offers training, with experienced and knowledgeable facilitators. Our courses focus on practical applications, working through examples and exercises based on real-world datasets.</p>
          <p>All of our training packages include access to:</p>
          <ul>
            <li> our online development environment and
            <li> detailed course material which participants will have continued access to even once the training has concluded.
          </ul>
          <p>For more information about what we do, you can refer to our <a href="https://www.exegetic.biz">website</a>. A complete list of our current training courses can be found <a href="https://www.exegetic.biz/training/">here</a>.</p>
          <p> These are some of the companies who have benefitted from our trainning:</p>
          <!-- <img style="max-width: 80%; display: block; margin-left: auto; margin-right: auto; padding-top: 0.5%; page-break-after: always;" src="/img/training-clients.png"> -->
          <ul>
            <li><a href="http://ixperience.co.za/">iXperience</a></li>
            <li><a href="https://www.investec.com/en_za.html?medium=ppc&source=google&campaign=GMSA%20%7C%20ML%20%7C%20GM%20%7C%20Brand&adgroup=Brand%2BEXACT&keyword=investec&matchtype=e&gclid=EAIaIQobChMI8pT8gZWv4wIVyZTVCh1tOAkAEAAYASAAEgLmBfD_BwE&gclsrc=aw.ds">Investec</a></li>
            <li><a href="https://www.vantagedata.co.za/">Vantage Data</a></li>
            <li><a href="https://www.da.org.za/">Democratic Alliance</a></li>
          </ul>
        </div> 


        <div style="page-break-after: always;">
        <h2 class="proposal-only">2. Course Description</h2>
      	{{ if .Params.intro }}
      	<div>
      	{{ .Params.intro | markdownify }}
      	</div>
        {{ end }}
        <h2 class="proposal-only">Details</h2>
        <h2 class="proposal-only"> Course Details</h2>

        <div class="proposal-only">
      	{{ if .Params.duration }}
      	<div>
          <strong>Duration</strong> {{ .Params.duration | markdownify }}
		    </div>
      	{{ end }}

      	{{ if .Params.why }}
      	<div>
          <strong>Why attend?</strong><br>{{ .Params.why | markdownify }}
		    </div>
      	{{ end }}

        {{ if .Params.who }}
        <div>
          <strong>Who should attend?</strong><br>{{ .Params.who | markdownify }}
        </div>
        {{ end }}

      	{{ if .Params.objectives }}
      	<div>
          <strong>Objectives</strong><br>{{ .Params.objectives | markdownify }}
		    </div>
      	{{ end }}

      	{{ if .Params.outcomes }}
      	<div>
          <strong>Outcomes</strong><br>{{ .Params.outcomes | markdownify }}
		    </div>
      	{{ end }}

      	{{ if .Params.requirements }}
      	<div>
          <strong>Requirements</strong><br>{{ .Params.requirements | markdownify }}
		    </div>
      	{{ end }}

        {{ if .Params.setup }}
        <div>
          <strong>Setup</strong><br>{{ .Params.setup | markdownify }}
        </div>
        {{ end }}
        </div>
        </div>

        <div style="page-break-after: always;">
        <h2 class="web">Course Description</h2>
      	<h2 class="proposal-only">3. Course Content</h2>
        {{.Content}}
        </div> 


        <div class="proposal-only">
        <h2>4. Contact Us</h2>
        <p>If this proposal is of interest to you or you would like to hear more about what we do you can get in touch on <a href="mailto:training@exegetic.biz?subject=Training Enquiry">training@exegetic.biz</a> or +27 (0)73 805 7439.</p>
        </div>


      </article>
      <p><a class="btn btn-primary btn-lg btn-block" href="mailto:training@exegetic.biz?subject=Training Enquiry" role="button" style="margin-bottom: 1%; margin-top: 1%;">Book now!</a></p>
      <div class="boilerplate">
        <h2>Training Philosophy</h2>

        <p>Our training emphasises practical skills. So, although you'll be learning concepts and theory, you'll see how everything is applied in the real world. We will work through examples and exercises based on real datasets.</p>

        <h2>Requirements</h2>

        <p>All you'll need is a computer with a browser and a decent internet connection. We'll be using an online development environment. This means that you can focus on learning and not on solving technical problems.</p>

        <p>Of course, we are happy to help you get your local environment set up too! You can start by following <a href="/blog/r-setup-general/">these instructions</a>.

        <h2>Package</h2>

        The training package includes access to
        <ul>
          <li> our online development environment and</li>
          <li> detailed course material (slides and scripts).</li>
        </ul>

        <!--
          Pricing: https://getbootstrap.com/docs/4.0/examples/pricing/
        -->
      </div>
      <div class="traininglist">
      <p>Return to our <a href="/training/">list</a> of courses.</p>
      </div>
    </div>
  </section>
{{ end }}
